packages

/src/Project/Course82/code/obj
/src/Project/Course82/code/bin
/src/Foundation/Serialization/code/obj
/src/Foundation/Serialization/code/bin

obj

/src/Project/Course82/code/bin

/.vs/Helix/v15/*.suo

/.vs/Helix/v15/sqlite3/*.ide
/.vs/config/applicationhost.config
bin

/templates/module-template/ModuleName/code/NamespacePrefix.ModuleType.ModuleName.csproj.user
/templates/module-template/ModuleName/tests/bin
