<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Course82" description="Sitecore Labs for 8.2 certification based on Helix" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\course82\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Project.Course82.Templates" database="master" path="/sitecore/templates/Project/Course82" />
            <include name="Project.Course82.Renderings" database="master" path="/sitecore/layout/renderings/Project/Course82" />
            <include name="Project.Course82.Layouts" database="master" path="/sitecore/layout/layouts/Project/Course82" />
            <include name="Project.Course82.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Course82" />
            <include name="Project.Course82.Models" database="master" path="/sitecore/layout/models/Project/Course82" />
            <include name="Project.Course82.Languages" database="master" path="/sitecore/system/Languages" />

<!--            <include name="Project.Course82.Content" database="master" path="/sitecore/content/Course82" />-->
            <include name="Project.Course82.Media" database="master" path="/sitecore/media library/Project/Course82" />
<!--            <include name="Project.Course82.Metadata" database="master" path="/sitecore/system/settings/feature/metadata/Course82" />-->
           
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>