<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>   
    <unicorn>
      <configurations>
        <configuration name="ModuleType.ModuleName" description="ModuleType ModuleName" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Indexing']">
          <targetDataStore physicalRootPath="$(sourceFolder)\ModuleType\ModuleName\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- TODO: Remove or add includes depending on what needs to be serialized. -->
            <!-- TODO: Don't forget to create a ModuleType/ModuleName folder for these paths in Sitecore. -->
            <include name="ModuleType.ModuleName.Templates" database="master" path="/sitecore/templates/ModuleType/ModuleName" />
            <include name="ModuleType.ModuleName.Renderings" database="master" path="/sitecore/layout/renderings/ModuleType/ModuleName" />
            <include name="ModuleType.ModuleName.Media" database="master" path="/sitecore/media library/ModuleType/ModuleName" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\ModuleType\ModuleName\serialization\ModuleType.ModuleName.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^ModuleType ModuleName .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>